* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #acf8c9;
  font-family: "ubuntu", sans-serif;
}

h1 {
  font-weight: 500;
  font-style: normal;
  display: inline-block;
  padding: 20px;
  margin-left: 80px;
}

h3 {
  font-weight: 700;
  font-style: normal;
}

h4 {
  font-weight: 400;
  font-style: normal;
}

header .barra-menu {
  background-color: #16C79E !important;
}
header div a .logo {
  width: 8rem;
}
header div .button-menu {
  box-shadow: none;
  border: 3px solid black;
}
header div .button-menu:focus {
  box-shadow: currentColor;
  color: grey;
}
header div .button-menu .menu-burguer {
  background-image: url(./../assets/img/hamburger-menu-svgrepo-com.svg);
}
header div .menu {
  flex-grow: 0;
}
header div .menu .menu-ul {
  text-align: center;
}
header div .menu .menu-ul li a {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
header div .menu .menu-ul li a:hover {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

main .presentacion {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-around;
}
main .presentacion div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
}
main .presentacion div .texto-presentacion p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
main .presentacion img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 25px;
  max-width: 600px;
  margin: 0 auto;
}

.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  padding: 30px;
}
.servicios .menu-servicios {
  width: 350px;
  height: 480px;
  border: 3px solid grey;
  border-radius: 10px;
  overflow: hidden;
}
.servicios .menu-servicios img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.servicios .menu-servicios .servicio-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 180px;
  padding: 10px;
}
.servicios .menu-servicios .servicio-texto .detalle-servicio {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.pagina-servicio .servicios-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
}
.pagina-servicio .servicios-page .card-servicio {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.pagina-servicio .servicios-page .card-servicio:nth-child(odd) {
  flex-direction: row-reverse;
}
.pagina-servicio .servicios-page .card-servicio:nth-child(even) {
  justify-content: start;
}
.pagina-servicio .servicios-page .card-servicio img {
  width: 30vw;
  min-width: 300px;
  height: auto;
  border-radius: 10px;
}
.pagina-servicio .servicios-page .card-servicio div {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 500px;
}
.pagina-servicio .servicios-page .card-servicio div .menu-serv {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.adopcion {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 25px;
  row-gap: 30px;
}
.adopcion .animales {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
  align-items: stretch;
}
.adopcion .animales img {
  width: 30vh;
  border-radius: 10px;
}
.adopcion .animales .animales-descripcion {
  display: grid;
  width: 250px;
  grid-template-columns: minmax(250px, 1fr);
  grid-template-rows: 0.5fr 1.5fr;
}

main section .sobre-nosotros {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 50px;
  text-align: justify;
  font-size: 25px;
}
main section .sobre-nosotros-imagen {
  max-width: 700px;
  margin: 30px auto;
  display: block;
  width: auto;
  height: auto;
  border-radius: 15px;
}

main .contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3em;
}
main .contacto div img {
  border-radius: 10px;
  max-width: 700px;
}
main .contacto form .form-div {
  margin-top: 20px;
  position: relative;
}
main .contacto form .form-div input {
  height: 40px;
  width: 250px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 20px;
  outline: none;
}
main .contacto form .form-div input:focus {
  border-color: black;
}
main .contacto form .form-div input:focus ~ label {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 14px;
  color: black;
}
main .contacto form .form-div label {
  position: absolute;
  left: 5px;
  margin-top: 8px;
  background-color: white;
  border-radius: 2px;
  padding: 1px 7px;
  font-size: 16px;
  color: grey;
}
main .contacto form .form-div textarea {
  height: 150px;
  width: 250px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 20px;
  outline: none;
}
main .contacto form .form-div textarea:focus {
  border-color: black;
}
main .contacto form .form-div textarea:focus ~ label {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 14px;
  color: black;
}
main .contacto form .form-button {
  width: 250px;
}

.pie-pagina {
  background-color: #16C79E;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}
.pie-pagina .pie-final {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pie-pagina .pie-final div {
  width: 200px;
}
.pie-pagina div img {
  width: 30px;
  padding: 3px;
}
.pie-pagina .copy {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .presentacion {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .presentacion div {
    width: 100%;
  }
  .presentacion .imagen-presentacion {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .presentacion {
    flex-direction: column-reverse;
    padding: 10px;
  }
  .presentacion div {
    width: 100%;
  }
  .presentacion div .texto-presentacion {
    font-size: 0.8em;
  }
  .presentacion .imagen-presentacion {
    max-width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .menu-servicios {
    width: 45%;
  }
  .menu-servicios img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .servicios {
    flex-direction: column;
    align-items: center;
  }
  .servicios .menu-servicios {
    width: 80%;
  }
  .servicios .menu-servicios img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .card-servicio {
    flex-direction: column;
    align-items: center;
  }
  .card-servicio:nth-child(odd) {
    flex-direction: column;
  }
  .card-servicio div {
    width: 100%;
  }
  .card-servicio img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .card-servicio:nth-child(odd) {
    flex-direction: column;
    align-items: center;
  }
  .card-servicio div {
    width: 100%;
  }
  .card-servicio img {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
