//index presentacion 

main {
	.presentacion {

		display: flex;
		flex-direction: row;
		column-gap: 30px;
		padding-left: 40px;
		padding-right: 40px;
		justify-content: space-around;

		div {
			display: flex;
			flex-direction: column;
			row-gap: 30px;
			justify-content: center;

			.texto-presentacion {
				p {
					font-family: "Ubuntu", sans-serif;
					font-weight: 700;
					font-style: normal;
				}
			}
		}

		img {
			width: 100%;
			height: auto;
			display: block;
			border-radius: 25px;
			max-width: 600px;
			margin: 0 auto;
		}
	}
}

//index servicios

.menu-card {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;

	.wrapper {
		display: flex;
		width: 90%;
		justify-content: space-around;
		flex-wrap: wrap;

		.card {
			width: 280px;
			height: 360px;
			border-radius: 15px;
			padding: 1.5rem;
			background: white;
			position: relative;
			display: flex;
			transition: 0.4s ease-out;
			box-shadow: 0px 7px 10px rgba(black, 0.5);
			margin: 10px;

			&:hover {
				transform: translateY(20px);

				&::before {
					opacity: 1;
				}

				.info {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 15px;
				background: rgba(black, 0.6);
				z-index: 2;
				transition: 0.5s;
				opacity: 0;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 15px;
			}

			.info {
				position: relative;
				z-index: 3;
				color: cornsilk;
				opacity: 0;
				transform: translateY(30px);
				transition: 0.5s;

				h4 {
					margin: 0px;
				}

				.detalle-texto {
					letter-spacing: 1px;
					font-size: 15px;
					margin-top: 8px;
				}
			}
		}
	}
}