//reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #acf8c9;
    font-family: "ubuntu", sans-serif;
}

h1 {
    font-weight: 500;
    font-style: normal;
    display: inline-block;
    padding: 20px;
    margin-left: 80px;
}

h3 {
    font-weight: 700;
    font-style: normal;
}

h4 {
    font-weight: 400;
    font-style: normal;
}
